body {
    font-family: Arial;
    background-color: #e8f5e9;
    text-align: center;
}

h1 {
    color: #2e7d32;
}

form {
    background-color: white;
    padding: 20px;
    margin: 50px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 8px;
    border: 1px solid #a5d6a7;
    border-radius: 5px;
}

button {
    background-color: #2e7d32;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1b5e20;
}
